<app-header></app-header>
  
<div class="wrapper fadeInDown">

    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="src/assets/téléchargement.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form #loginform="ngForm" (ngSubmit)="loginAdmin()">
        
        <h5><small class="text-danger">{{msg}}</small></h5>
        <input type="text"  id="login" class="fadeIn second"  placeholder="Username" name="nom" [(ngModel)]="user.nom">
        <input type="text" id="password" class="fadeIn third"  placeholder="password" name="password" [(ngModel)]="user.password">
         </form>
        
         <button type="submit" class="btn btn-info btn-lg">CONNEXION</button>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>
  <app-footer></app-footer>