<app-header></app-header> 
<h1>PROCES-VERBAL DE SURVEILLANT</h1>
<div class="container">
<form>
  <div class="form-row">
      <div class="form-group col-md-4">
        <br><label for="Option">Session</label>
        <select id="selection" class="form-control">
          <option value="">normale</option>
          <option value="">rattrapage</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <br><label for="Option">Semestre</label>
        <select id="selection" class="form-control">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
          <option value="">5</option>
          <option value="">6</option>
          <option value="">7</option>
          <option value="">8</option> 
        </select>
       </div>
      <div class="form-group col-md-3">
        <br><label for="inputAnnee4">Annee Academique</label>
        <input type="Annee" class="form-control" id="inputAnnee4" placeholder="2019-2020">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <br><label for="inputNom4">Noms et Prenoms du Chef de Salle:</label>
          <input type="Nom" class="form-control" id="inputNom4" placeholder="Nom et Prenom">
        </div>
        <div class="form-group col-md-5">
          <br><label for="inputFonction4">Fonction</label>
          <input type="fonction" class="form-control" id="inputFonction4" placeholder="Fonction">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <br><label for="inputNom4">Noms et Prenoms des surveillants de Salle:</label>
          <input type="Nom" class="form-control" id="inputNom4" placeholder="Nom et Prenom">
        </div>
        <div class="form-group col-md-5">
          <br><label for="inputFonction4">Fonction</label>
          <input type="fonction" class="form-control" id="inputFonction4" placeholder="Fonction">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <br><label for="inputNom4"></label>
          <input type="Nom" class="form-control" id="inputNom4" placeholder="Nom et Prenom">
        </div>
        <div class="form-group col-md-5">
          <br><label for="inputFonction4"></label>
          <input type="fonction" class="form-control" id="inputFonction4" placeholder="Fonction">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <br><label for="Option">Salle</label>
          <select id="selection" class="form-control">
            <option value="">IP1</option>
            <option value="">IP2</option>
            <option value="">IP3</option>
            <option value="">IP4</option>
          </select>
  
        </div>
        <div class="form-group col-md-3">
          <br><label for="inputSemestre4">Parcours</label>
          <input type="semestre" class="form-control" id="inputSemestre4" placeholder="INFOTEL">
        </div>
        <div class="form-group col-md-3">
          <br><label for="Option">Option</label>
          <select id="selection" class="form-control">
            <option value="">IG/AP</option>
            <option value="">TELECOM</option>
            <option value="">SAR</option>
            <option value="">INFOTEL</option>
          </select>
        </div>
        <div class="form-group col-md-2">
            <br><label for="Option">Niveau</label>
            <select id="selection" class="form-control">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
              <option value="">5</option>
            </select>
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <br><label for="inputNom4">Unite d'enseignement:</label>
          <input type="Nom" class="form-control" id="inputNom4" placeholder="Genie logiciel 1">
        </div>
        <div class="form-group col-md-5">
          <br><label for="inputFonction4">Code UE</label>
          <input type="fonction" class="form-control" id="inputFonction4" placeholder="ITEL 123">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-11">
          <br><label for="inputNom4">Enseignant responsable de l'unite:</label>
          <input type="Nom" class="form-control" id="inputNom4" placeholder="Nom">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-11">
          <br><label for="inputNom4">Nombre des copies remises a la fin de l'epreuve:</label>
          <input type="Nom" class="form-control" id="inputNom4" placeholder="25">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-11">
          <br><label for="inputNom4">Rapport de surveillance:</label>
          <input type="Nom" class="form-control" id="inputNom4" placeholder="R.A.S">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-11">
          <br><label for="inputNom4">Date d'evaluation:</label>
          <input type="Nom" class="form-control" id="inputNom4" placeholder="23-03-2020">
        </div>
      </div>
   
    <button type="submit" class="btn btn-info"><a href="../recherche/">Modifier</a></button>
  </form>
</div>
  <app-footer></app-footer>
