  <app-header></app-header>
      
    <div class="container" >
        <h1>Acceuil</h1>
            <form #acceuilform="ngForm" (ngSubmit)="ngOnInit()">
                <fieldset>
                  <!-- <legend>Exemple de formulaire Bootstrap</legend> -->
<!--                   
                 <br> <div class="col-sm-3">
                    <label for="nom">Annee Academique</label>
                    <input type="text" class="form-control" id="nom" placeholder="2001-2002">
                  </div><br> -->
                  <br>
                  <div class="col-sm-3">
                    <label for="Option">Veuillez choisir l'option</label>
                    <select id="selection" class="form-control" name="option">
                        <option value="">IG/AP</option>
                        <option value="">TELECOM</option>
                        <option value="">SAR</option>
                        <option value="">INFOTEL</option>
                    </select>
                  </div><br>
                  
                  <div class="col-sm-3">
                      <label for="Option">Veuillez choisir le niveau</label>
                      <select id="selection" class="form-control" name="niveau">
                          <option value="">Niveau 1</option>
                          <option value="">Niveau 2</option>
                          <option value="">Niveau 3</option>
                          <option value="">Niveau 4</option>
                          <option value="">Niveau 5</option>
                          
                      </select>
                    </div>
                   
                </fieldset>
              </form><br>
              <button type="submit" class="btn btn-dark">Continuer</button> 
    
           </div>
<!-- </body>
</html> -->
<app-footer></app-footer>