<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark indigo">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                
            </ul>
        </div>
    </nav>
  
    <div class="view intro-2">
        <div class="full-bg-img">
            <div class="mask rgba-black-light flex-center">
                <div class="container text-center white-text">
                    <div class="white-text text-center wow fadeInUp">
                        <h1>Suivi Evaluation</h1>
                        <h5>Ecole Nationale Superieure Polytechnique de Maroua <br>Departement INFOTEL</h5>
                        <br>
                        <!-- <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  </header>
