.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
    text-align: center;
}
html,
body,
header,
.view .intro-2{
    height: 45%;
    text-align: center;
}
