<app-header></app-header> 
   
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">			
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Tableau <b>de <b> bord</b></b></h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="search-box">
                            <div class="input-group">								
                                <input type="text" id="search" class="form-control" placeholder="Search by Name" name="intitule" [(ngModel)]="unite.intitule">
                                <button (click)="Chercher(unite.intitule)"  class="btn btn-info btn-lg">Rechercher
                                    </button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" form-row">
                <div class="form-group col-md-2"> <button type="button" class="btn btn-dark"><a href="../ajout/">Ajouter  une UE</a></button></div>
                <div class="form-group col-md-2"> <button type="button" class="btn btn-dark"><a href="../ficheunite/">FICHE</a></button> </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 10%;">ID</th>
                        <th style="width: 10%;">CodeUE</th>
                        <th style="width: 10%;">Intitule</th>
                        <th style="width: 10%;">Niveau</th>
                        <th style="width: 10%;">Option</th>
                        <!-- <th>TypeEvaluation</th> -->
                        <th style="width: 20%;">Parcours</th>
                        <th style="width: 20%;">Semestre</th>
                        <th style="width: 20%;">Actions</th>

                    </tr>
                   
                </thead>
                <tbody>
                    <tr *ngFor="let unite of unites">
                         <td>{{unite.id}}</td>
                         <td>{{unite.codeUE}}</td>
                         <td>{{unite.intitule}}</td>
                         <td>{{unite.niveau}}</td>
                         <td>{{unite.option}}</td>
                         <td>{{unite.parcours}}</td>
                         <td>{{unite.semestre}}</td>
                         <td>
                            <button (click)="ficheUnite(unite.id)" class="btn btn-info">Voir Fiche</button>
                            
                          </td>
                         
                 
                      </tr>
                </tbody>
            </table>
        </div>
    </div>        
</div>    
<app-footer></app-footer>