<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="">By koiranga</a>
    </div>
    <!-- Copyright -->
  
  </footer>
